/*
 * author: Colton Tshudy
 * version: 04/07/2023
 */

body {
  background: white;
}

.viewport {
  width: 1024px;
  height: 600px;
  background: black;
  color: white;
  overflow: hidden;
  position: relative;
  border: 5px dashed greenyellow;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.rotate-90 {
  rotate: 90deg;
}

.rotate-180 {
  rotate: 180deg;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  position: absolute;
  top: 50px;
  left: 50px;
  background: green;
}

.item2 {
  position: absolute;
  top: 100px;
  left: 400px;
  background: green;
}

.item3 {
  position: absolute;
  top: 400px;
  left: 400px;
  background: green;
}

.rounded {
  border-radius: 200px;
}

.rawtext {
  font-size: 20px;
}

.duty-readout {
  position: absolute;
  left: calc(1024px - 100px);
}

.speed-dial {
  position: absolute;
  left: 400px;
  top: 400px;
}

.motor-temp {
  position: absolute;
  right: 100px;
  top: 0px;
}

.mosfet-temp {
  position: absolute;
  right: 100px;
  bottom: 225px;
}

.speedometer {
  position: absolute;
  left: -260px;
  bottom: -12.5px;
  opacity: 1;
}

.motor-current {
  position: absolute;
  left: 200px;
  bottom: 200px;
}

.temporary {
  position:absolute;
  left:500px;
  top: 500px;
}

.battery-voltage {
  position:absolute;
  left: 300px;
  top: 0px;
  background-color: black;
  border-radius: 50%;
  border: solid white;
  width:180px;
}