/*
 * author: Colton Tshudy
 * version: 04/07/2023
 */

body {
  background: black;
}

.viewport {
  width: 1024px;
  height: 600px;
  background: white;
  color:black;
  overflow: hidden;
  position: relative;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.rotate-90 {
  rotate: 90deg;
}

.rotate-180 {
  rotate: 180deg;
}

.flex-container {
  align-items: center;
  justify-content: space-between;
}

.rounded {
  border-radius: 200px;
}