/*
 * author: Colton Tshudy
 * version: 04/07/2023
 */

 body {
    background: grey;
}

.viewport {
    width: 800px;
    height: 480px;
    background: white;
    color:black;
    overflow: hidden;
    position: relative;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.rotate-90 {
    rotate: 90deg;
}

.rotate-180 {
    rotate: 180deg;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-1 {
    /*border: 20px powderblue solid;*/
    justify-content: center;
    width: 200px;
    height: 200px;
}

#speedometer {
    position: absolute;
    width: 480px;
    left: -240px;
    top: 0px;
}

#battery-current {
    position: absolute;
    width: 480px;
    left: 560px;
    top: 0px;
}

.curved {
    border-radius: 50px;

}